body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: 'GilroyMedium'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GilroyMedium';
  src: local('GilroyMedium'),
    url('assets/fonts/Gilroy-Medium.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'GilroyBold';
  src: local('GilroyBold'),
    url('assets/fonts/Gilroy-Bold.otf') format('opentype');
  font-weight: normal;
}
